@charset 'utf-8';
.m-main{
    ul.menu{
        width: 100%;
        height: 1.2rem;
        background: $base-color;
        @include flexbox();
        @include align-items();
        @include flex-wrap(wrap);
        padding: 0.05rem 0;
        @include border(0 0 1px 0);
        li{
            width: 25%;
            height: 0.56rem;
            
            @include flexbox();
            @include flex-direction(column);
            @include justify-content();
            @include align-items();
            img{
                width: 0.35rem;
                height: 0.35rem;
            }
            span{
            font-weight: 400;
            font-size: 0.09rem;
            }
        }
    }
    .ad{
        padding: .05rem 0.2rem;
        @include flexbox();
        span{
            display: inline-block;
            width: 0.6rem;
            height: 0.13rem;
            @include border(0 1px 0 0);
            font-size: 0.1rem;
            line-height: .13rem;
            color: #e4393c;
        }
        .swiper-container-ad{
            @include flex();
            height: .13rem;
            overflow: hidden;
            .swiper-wrapper{
                height: .13rem;
                .swiper-slide{
                    height: .2rem;
                    line-height: 0rem;
                    font-size: 0.1rem;
                    padding:0 .1rem;

                    .hot{
                        display: inline-block;
                        width: .34rem;
                        height: .16rem;
                        color: $base-color;
                        line-height: .13rem;
                        text-align: center;
                        background: #e4393c;
                        margin-right: .1rem;
                    }
                }
            }
        }
    }
    .ad-img{
        width: 100%;
        height: 1.34rem;
        img{
            width: 100%;
            height: 1.34rem;
        }
    }
    .content{
        width: 100%;
        height: 2.25rem;
        padding: .05rem;
        padding-top: 0;
        background: #fe319f;
        p{
            height: 0.28rem;
            width: 100%;
            text-align: center;
            line-height: 0.28rem;
            img{
                // width: 100%;
                height: 0.17rem;
            }
        }
        ul{
            width: 100%;
            height: 1.9rem;
            background: $base-color;
            @include flexbox();
            @include align-items();
            @include flex-wrap(wrap);
            
            li{
                width: 50%;
                height: 0.95rem;
                @include flexbox();
                @include flex-direction(column);
                @include justify-content();
                @include align-items();
                @include border(0 0 1px 1px);
                img{
                    width: 1.41rem;
                    height: 0.77rem;
                }
                &:nth-child(2n-1){
                    @include border(0 0 1px 0);
                }
                &:nth-child(3){
                    @include border(0 0 0 0);
                }
                &:nth-child(4){
                    @include border(0 0 0 1px);
                }
            }
        }
    }
}
